<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Quản lý sinh viên</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lý sinh viên</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-7">
          <div class="card">
            <div class="card-header">
              <div class="row main-content-header">
                <div class="col-6">
                  <h3 class="card-title">Danh sách sinh viên</h3>
                </div>
                <div class="col-6 main-content-header-right">
                  <span>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Tìm kiếm sinh viên"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Tìm kiếm</button>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>''</th>
                    <th>Tên sinh viên</th>
                    <th>Mã sinh viên</th>
                    <th>Khoa</th>
                    <th>Tên phòng</th>
                    <th>Ngày vào</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>Misc</td>
                    <td>Lynx</td>
                    <td>Text only</td>
                    <td>Text only</td>
                    <td>Text only</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>Misc</td>
                    <td>Lynx</td>
                    <td>Text only</td>
                    <td>Text only</td>
                    <td>Text only</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>Misc</td>
                    <td>Lynx</td>
                    <td>Text only</td>
                    <td>Text only</td>
                    <td>Text only</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>Misc</td>
                    <td>Lynx</td>
                    <td>Text only</td>
                    <td>Text only</td>
                    <td>Text only</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-5">
          <!-- general form elements -->
          <div class="card card-primary">
            <!-- form start -->
            <form role="form">
              <div class="card-body">
                <div class="row ">
                  <div class="col-12 col-md-6">
                    <div class="form-group btn-form">
                      <button type="submit" class="btn btn-outline-success">Chuyển phòng</button>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group btn-form">
                      <button type="submit" class="btn btn-outline-info">Thêm sinh viên</button>
                    </div>
                  </div>
                  <div class="col-12 col-md-12">
                    <div class="form-group text-form" style="border-bottom: 1px solid #00000073;">
                      <label for="exampleInputName1">Thông Tin Chung</label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group text-form">
                      <label for="exampleInputName1">Tên :</label> <span>Nguyễn Thanh Tùng</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group text-form">
                      <label for="exampleInputName2">Mã sinh viên :</label><span>665105066</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group text-form">
                      <label for="exampleInputName3">Khoa :</label><span>CNTT</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group text-form">
                      <label for="exampleInputName4">Ngày vào :</label><span>16/8/2019</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-12">
                    <div class="form-group text-form">
                      <label for="exampleInputName4">Phòng :</label>
                      <select class="form-control" name="" id="">
                        <option>104</option>
                        <option>105</option>
                        <option>106</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer btn-footer">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group btn-form">
                      <button type="button" class="btn btn-success">Lưu</button>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group btn-form">
                      <button type="button" class="btn btn-danger">Hủy</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
</div>