<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Quản lý bài học</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lý bài học</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <div class="row main-content-header">
                <div class="col-6">
                  <h3 class="card-title">Danh sách phòng</h3>
                </div>
                <div class="col-6 main-content-header-right">
                  <span>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Tìm kiếm phòng"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Tìm kiếm</button>
                      </div>
                    </div>
                  </span>
                  <span>
                    <div class="input-group">
                      <select class="custom-select" id="inputGroupSelect04"
                        aria-label="Example select with button addon">
                        <option selected>Lựa chọn</option>
                        <option value="1">Phòng trống</option>
                        <option value="2">Tất cả</option>
                      </select>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Xem danh sách</button>
                      </div>
                    </div>
                  </span>
                  <span>
                    <button type="button" class="btn btn-outline-info btn-add">+Thêm</button>
                  </span>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Tên phòng</th>
                    <th>Số người tối đa</th>
                    <th>Số người hiện tại</th>
                    <th>Danh sách sinh viên</th>
                    <th>Trạng thái</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Misc</td>
                    <td>Lynx</td>
                    <td>Text only</td>
                    <td>Text only</td>
                    <td>Text only</td>
                  </tr>
                  <tr>
                    <td>Misc</td>
                    <td>Lynx</td>
                    <td>Text only</td>
                    <td>Text only</td>
                    <td>Text only</td>
                  </tr>
                  <tr>
                    <td>Misc</td>
                    <td>Lynx</td>
                    <td>Text only</td>
                    <td>Text only</td>
                    <td>Text only</td>
                  </tr>
                  <tr>
                    <td>Misc</td>
                    <td>Lynx</td>
                    <td>Text only</td>
                    <td>Text only</td>
                    <td>Text only</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Thông tin bài học</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputName1">Tên bài học</label>
                  <input type="text" class="form-control" id="exampleInputName1" placeholder="Tên bài học">
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">Bài giảng</label>
                  <input type="text" class="form-control" id="exampleInputName2" placeholder="Bài giảng 1">
                </div>
                <div class="form-group">
                  <label for="exampleInputName3">Loại bài học</label>
                  <input type="text" class="form-control" id="exampleInputName3" placeholder="Trắc nghiệm">
                </div>
                <div class="form-group">
                  <label for="exampleInputName4">Nội dung bài học</label>
                  <textarea class="form-control" name="" id="" rows="3" placeholder="Nhập ..."></textarea>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
</div>