<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Quản lý sinh viên</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lý sinh viên</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-7">
          <div class="card">
            <div class="card-header">
              <div class="row main-content-header">
                <div class="col-6">
                  <h3 class="card-title">Danh sách sinh viên</h3>
                </div>
                <div class="col-6 main-content-header-right">
                  <span>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Tìm kiếm sinh viên"
                        aria-label="Recipient's username" aria-describedby="basic-addon2"  [formControl]="studentSearch">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="searchStudent()">Tìm kiếm</button>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Tên sinh viên</th>
                    <th>Mã sinh viên</th>
                    <th>Khoa</th>
                    <th>Tên phòng</th>
                    <th>Ngày vào</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of students" (click)="selectStudent(s)">
                    <td>{{s.studentName}}</td>
                    <td>{{s.studentCode}}</td>
                    <td>{{s.faculty}}</td>
                    <td>{{s.departmentName}}</td>
                    <td>{{s.createdDate}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-5">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Thông tin chung</h3>
              <button type="submit" class="btn btn-success" style="margin-left: 50px; margin-right: 10px"
                (click)="openEditModal()" *ngIf="selectedStudent">Chuyển phòng</button>
              <button type="submit" class="btn btn-danger" style="margin-left: 50px; margin-right: 10px"
                *ngIf="!selectedStudent" disabled>Chuyển phòng</button>
              <button type="submit" class="btn btn-success" (click)="openCreateModal()">Thêm sinh viên</button>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" [formGroup]="infoForm">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputName1">Tên sinh viên</label>
                  <input type="text" class="form-control" id="exampleInputName1" placeholder="Tên sinh viên"
                    formControlName="sName" *ngIf="isEditing">
                  <input type="text" class="form-control" id="exampleInputName1" placeholder="Tên sinh viên"
                    formControlName="sName" *ngIf="!isEditing" disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">Mã sinh viên</label>
                  <input type="text" class="form-control" id="exampleInputName2" placeholder="Mã sinh viên"
                    formControlName="sCode" *ngIf="isEditing">
                  <input type="text" class="form-control" id="exampleInputName2" placeholder="Mã sinh viên"
                    formControlName="sCode" *ngIf="!isEditing" disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputName3">Khoa</label>
                  <input type="text" class="form-control" id="exampleInputName3" placeholder="Khoa"
                    formControlName="sFaculty" *ngIf="isEditing">
                  <input type="text" class="form-control" id="exampleInputName3" placeholder="Khoa"
                    formControlName="sFaculty" *ngIf="!isEditing" disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputName4" *ngIf="!isEditing">Phòng</label>
                  <input type="text" class="form-control" id="exampleInputName4" placeholder="Phòng"
                    formControlName="sDepartment" *ngIf="!isEditing" disabled>
                  <label for="exampleInputName4" *ngIf="isEditing || isCreating">Phòng trống</label>
                  <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon"
                    formControlName="sDepartment" *ngIf="isEditing">
                    <option *ngFor="let d of departments" [ngValue]="d">{{d.departmentName}}</option>
                  </select>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary" *ngIf="selectedStudent && !isEditing && !isCreating" (click)="deleteStudent()">Xóa</button>
                <button type="submit" class="btn btn-primary" *ngIf="isEditing" (click)="movingDepartment()">Lưu</button>
                <button type="submit" class="btn btn-primary" *ngIf="isCreating" (click)="createStudent()">Tạo</button>
                <button type="submit" class="btn btn-danger" *ngIf="isEditing || isCreating" (click)="cancle()"
                  style="margin-left: 5px">Hủy</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
</div>