<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Quản lý phòng</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lý phòng</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row main-content-header">
              <div class="col-4">
                <h3 class="card-title">Danh sách phòng</h3>
              </div>
              <div class="col-8 main-content-header-right">
                <span>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm theo tên"
                      aria-label="Recipient's username" aria-describedby="basic-addon2"
                      [formControl]="departmentSearch">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" (click)="searchDepartment()">Tìm
                        kiếm</button>
                    </div>
                  </div>
                </span>
                <span>
                  <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon"
                      [formControl]="departmentType">
                      <option value="true">Phòng trống</option>
                      <option value="false" selected>Tất cả</option>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" (click)="refreshListDepartment()">Xem danh
                        sách</button>
                    </div>
                  </div>
                </span>
                <span>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-outline-info btn-add" data-toggle="modal"
                    data-target="#exampleModal">
                    +Thêm
                  </button>
                </span>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Tên phòng</th>
                  <th>Số người tối đa</th>
                  <th>Số người hiện tại</th>
                  <th>Danh sách sinh viên</th>
                  <th>Trạng thái</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of departments">
                  <td>{{d.departmentName}}</td>
                  <td>{{d.maxPeoples}}</td>
                  <td>{{d.currentPeoples}}</td>
                  <td>
                    <ul>
                      <li *ngFor="let s of d.students"
                        style="border-bottom: 1px solid gray; list-style: none; width: 70%;">{{s.studentName}} :
                        {{s.studentCode}}</li>
                    </ul>
                  </td>
                  <td>{{ d.currentPeoples < 8 ? "Còn chỗ" : "Đủ" }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Phòng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="">Tên phòng</label>
          <input type="text" name="" id="" class="form-control" placeholder="Nhập tên phòng" aria-describedby="helpId" [formControl]="departmentControl">
          <!-- <small id="helpId" class="text-muted">Help text</small> -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" (click)="createDepartment()">Lưu</button>
      </div>
    </div>
  </div>
</div>